*{
  padding: 0;
  margin: 0;
}

.content{
  width: 75%;
  margin: 0 auto;
  height: 100vh;
  padding: 0;
}

.header{
  width: 50%;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 15vh;
}

.results{
  width: 75%;
  margin: 0 auto;
  padding: 20px;
}


